<h1> <%= @restaurant.name %>  </h1>

<p>REVIEWS: </p>

<div class="card-body" >
  <ul>
    <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item list-group-item-light">
    <%= review.rating %>:
    <%= review.content %>
    <% end %>
    </li>
  </ul>
</div>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>
   |
  <%= link_to "add a review", new_restaurant_review_path(@restaurant) %>
</div>
